<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mezzari.torres.lucas.kotlin_conductor">

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".flow.access.create.CreateAccountActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".flow.access.block.BlockApplicationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".flow.access.login.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".flow.access.splash.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".flow.access.home.MainActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".flow.address.activity.AddressActivity" />
    </application>

</manifest>